.nav-list, .info-list, .form .form-list, .features-list, .occupation-pics, .team-list, .social-list, .client-list, .address-footer .footer-list, .footer-social .social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-logo, .current, .site-link, .info-link, .checkbox-label .checkbox-link {
  text-decoration: none;
}

.btn-submit {
  display: inline-block;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field .checkbox, .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.form .form-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-list .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-link:hover, .social-list .social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.footer-social .social-link-footer .icon {
  margin: 0;
  padding: 0;
  fill: currentColor;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  background-color: #ffffff;
  color: #757575;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-page {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header-page {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header-page {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-page .container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-page .container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header-page .site-nav {
    display: flex;
    align-items: center;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.nav-logo {
  display: inline-flex;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.nav-logo .logo-studio {
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .nav-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav-list .item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list .item:not(:last-child) {
    margin-right: 50px;
  }
}

.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  content: " ";
  border-radius: 2px;
  background-color: #2196f3;
}

.site-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-link {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  .site-link {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}

.site-link:hover, .site-link:focus {
  color: #2196f3;
}

.info-list {
  display: inline-block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .info-list {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .info-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .info-list .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .info-list .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .info-list .item:not(:last-child) {
    margin-right: 50px;
  }
}

.info-link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-link:hover, .info-link:focus {
  color: #2196f3;
}

.icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .icon {
    margin-right: 8px;
  }
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-btn:hover, .menu-btn:focus {
  color: #2196f3;
}

.menu-btn .icon-cross {
  display: none;
  fill: currentColor;
}

.menu-btn.is-open .icon-cross {
  display: block;
}

.menu-btn .icon-menu {
  fill: currentColor;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-container {
  width: 100%;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .menu-container {
    margin-left: 88px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 8;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    border-top: 1px solid #ececec;
  }
  .menu-container.is-open {
    display: block;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mob@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mob@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    display: flex;
    align-items: center;
    height: 600px;
    max-width: 1600px;
    padding: 200px 0;
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet-@1x.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet-@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desk@1x.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desk@2x.jpg);
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn {
  display: inline-block;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 94px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.icon-close {
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: #2196f3;
}

.form {
  text-align: center;
}

.form .form-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.form .form-list {
  margin-bottom: 10px;
  width: 100%;
}

.form .form-item:not(:last-child) {
  margin-bottom: 10px;
}

.form-field .field-title {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field .input-form {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .input-form:hover, .form-field .input-form:focus {
  border-color: #2196f3;
}

.form-field .input-form + .icon-form {
  position: absolute;
  top: 50%;
  left: 19px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .input-form:hover + .icon-form,
.form-field .input-form:focus + .icon-form {
  fill: #2196f3;
}

.text-area {
  margin-bottom: 20px;
}

.textarea-field {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field:hover {
  border-color: #2196f3;
}

.checkbox-field {
  display: inline-block;
  margin-bottom: 30px;
}

.checkbox-field .checkbox:checked + .checkbox-label::before {
  background-image: url(../img/icon-check.svg);
  background-color: #2196f3;
  border-color: #2196f3;
  background-position: center;
  background-origin: border-box;
  background-size: contain;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .checkbox-label {
    font-size: 12px;
    line-height: 1.16;
  }
}

.checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label .checkbox-link {
  text-decoration: underline;
  color: #2196f3;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list .features-item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .features-list .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list .features-item {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list .features-item:not(:last-child) {
    margin-right: 30px;
  }
}

.features-list .features-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features-list .features-title {
    text-align: center;
  }
}

.features-list .features-text {
  margin: 0;
  color: #757575;
  font-weight: 400;
}

.features-list .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features-list .icon {
  margin: 0;
}

.occupation {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

.occupation-title {
  margin-bottom: 50px;
  margin-top: 0;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.occupation-pics {
  display: flex;
  flex-wrap: wrap;
}

.occupation-pics .item {
  width: 370px;
}

.occupation-pics .item:not(:last-child) {
  margin-right: 30px;
}

.thumb-occup {
  position: relative;
}

.thumb-occup .occup-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.thumb-occup .occup-overlay-text {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list .item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

.team-card {
  padding-bottom: 24px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .team-card {
    width: 270px;
  }
}

.team-card img {
  margin-bottom: 30px;
}

.team-card .team-names {
  margin: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-card .team-text {
  margin: 0;
  color: #757575;
  font-weight: 400;
}

.social-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.social-list .social-item:not(:last-child) {
  margin-right: 10px;
}

.social-list .icon {
  margin: 0;
  padding: 0;
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-title {
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .client-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .client-list {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .client-list .item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
    min-height: 90px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list .item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
    min-height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list .item {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .client-link {
    width: 170px;
    height: 90px;
  }
}

.client-link .icon {
  margin: 0;
  padding: 0;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .footer-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

.address-footer {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-footer {
    width: 354px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .address-footer {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address-footer .footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .address-footer .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.address-footer .footer-span {
  color: #ffffff;
}

.address-footer .f-address {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer .f-address:hover, .address-footer .f-address:focus {
  color: #2196f3;
}

.address-footer .f-address-text {
  margin: 0;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-footer .f-address-text {
    margin-bottom: 9px;
  }
}

.address-footer .footer-list .item {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-footer .footer-list .item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-footer .footer-info {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer .footer-info:hover, .address-footer .footer-info:focus {
  color: #2196f3;
}

.footer-social {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.footer-social .footer-social-title {
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social .social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .social-link-footer:hover, .footer-social .social-link-footer:focus {
  background-color: #2196f3;
}

.footer-social .social-link-footer .icon {
  color: #ffffff;
}

.footer-form {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    text-align: start;
  }
}

.footer-form .subs-title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-form .subs-div {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form .subs-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form .subs-div {
    display: flex;
  }
}

.footer-form .subs-div .input-subscribe {
  display: inline-block;
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
  padding: 15px 16px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form .subs-div .input-subscribe::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-form .subs-div .input-subscribe {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-form .subs-div .btn-subscribe {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form .subs-div .btn-subscribe:hover, .footer-form .subs-div .btn-subscribe:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.footer-form .subs-div .btn-icon {
  margin-left: 10px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */