.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-title {
  margin-bottom: 30px;
  margin-top: 0;

  font-weight: bold;
  font-size: 28px;

  text-align: center;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    // line-height: 42px;
  }
}
