.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dark-bg;
  text-align: center;

  @media screen and (min-width: $desktop) {
    height: 252px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    .footer-cont {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container {
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: baseline;
      text-align: left;
    }
  }
}
