.footer {
  // height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dark-bg;
  text-align: center;

  @media screen and (min-width: $tablet) {
    .footer-cont {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  // .container {
  //   @extend %container;
  //   display: flex;
  //   align-items: baseline;
  // }
}
