.header-page {
  position: relative;

  // border-bottom: 1px solid $border-color;

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .container {
    @extend %container;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: space-between;
    }
  }

  // .site-nav {
  //   display: flex;
  //   align-items: center;
  // }
}
