.info-list {
  @extend %list;
  display: inline-block;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }
  }

  .item:not(:last-child) {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  .item:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 50px;
    }
  }
}

.info-link {
  @extend %link;
  display: flex;
  align-items: center;
  // display: inline-block;

  color: $light-text-color;
  font-weight: 500;
  font-size: 12px;
  // font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: $tablet) {
    margin-right: 8px;
  }
}
