.nav-logo {
  @extend %link;
  display: inline-flex;

  color: $accent-color;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  .logo-studio {
    color: $primary-text-color;
  }

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}
