.offer-list {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  & .link:hover .offer-overlay,
  & .link:focus .offer-overlay {
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .offer-card {
    @media screen and (min-width: $tablet) {
      margin: 15px;
      width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: $desktop) {
      margin: 15px;
      flex-basis: calc((100% - 90px) / 3);
    }
  }

  & :not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}
