.offer-link {
  @extend %link;

  color: $light-text-color;

  transition: box-shadow 250ms $timing-function;

  &:hover .offer-overlay,
  &:focus .offer-overlay {
    transform: translateY(0);
  }
}
