.site-link {
  @extend %link;

  @media screen and (max-width: 767px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
